<% if user.role == "admin" %>
  <h3>Board Administrator</h3>
  <p>Admin Dashboard Link (to be implimented)</p>
<% elsif user.role == "premium" %>
  <h3>Premium Account Holder</h3>
  <p> Can't Handle the Pressure - Downgrade to Standard </p>
<% else %>
  <h3>Standard Account Holder</h3>
  <p>
    A One Time Charge - A Lifetime of Private Wikis <br>
    Now only $15.00 USD
  </p>
  <%= link_to "Upgrade", new_charge_path, :class => "btn btn-primary upgrade-button" %>
<% end %>
