<div class="landing-top container-fluid">
  <div class="logo"> <%= image_tag("Logo.png", :size => "200") %> </div>
  <h2 class="blocipedia-title">Social Wikis in the Markdown Style </h2>
</div>

<div class="landing-middle container-fluid">
  <div class="row">

    <div class="col-3">
      <p></p>
    </div>

    <div class="landing-box col-6">
      <p>Create and Share Markdown Wiki's</p>

      <div class="row align-items-center">

        <div class="col-5"> </div>

        <div class="col-2">
          <button type="button" class="btn btn-success"> Sign In
            <% :authenticate_user!  %>
          </button>

        </div>

        <div class="col-5"> </div>

      </div>
        <p></p>
    </div>

    <div class="col-3">
      <p></p>
    </div>
  </div>
</div>

<div class="landing-lower-middle container-fluid">

</div>

<div class="landing-bottom container-fluid">
  <div class="row">

    <div class="col-2">
      <p></p>
    </div>

    <div class="col-3">
      <h3>Free</h3>
      <p>Unlimited Public Wikis</p>
      <div class="diamond"> <%= image_tag("black-diamond.png", :size => "120x100") %> </div>
    </div>

    <div class="col-2">
      <p></p>
    </div>

    <div class="col-3">
      <h3>Premium</h3>
      <p>Create Private Wikis</p>
      <div class="diamond"> <%= image_tag("color-diamond.png", :size => "120x100") %> </div>
    </div>

    <div class="col-2">
      <p></p>
    </div>

  </div>
</div>
