// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signup-top {
  text-align: center;
  margin: 3rem;
}

.logo {
  margin: 10px;
}

.signup-lower-middle {
  margin: 60px;
}

.signup-bottom {
  text-align: center;
}

.signup-box {
  text-align: center;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  padding: 4rem;
}
